<div class="field shipping-row">
  <label for="order_ship_address_attributes_firstname">Paste</label>
  <textarea id="paste-address-field" class="fullwidth paste-address-field" rows="6" onchange="window.PasteAddresses.handleChange.call(this)"></textarea>
</div>